@model IEnumerable<EduCloud_v42.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Користувачі</h1>

<button type="button" class="button-standart" onclick="location.href='@Url.Action("Create", "Users")'">
    Створити курс
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Детальніше</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>