@model IEnumerable<EduCloud_v42.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Користувачі</h1>

<button type="button" class="button-standart" onclick="location.href='@Url.Action("Create", "Users")'">
    Створити користувача
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)/Юзернейм
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)/Повне ім'я
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)/Електронна пошта
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)/Телефон
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)/Роль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <button type="button"
                            class="button-standart"
                            onclick="location.href='@Url.Action("Edit", "Users", new { id = item.ID })'">
                        Змінити
                    </button>
                    <button type="button"
                            class="button-standart"
                            onclick="location.href='@Url.Action("Details", "Users", new { id = item.ID })'">
                        Детальніше
                    </button>
                    <button type="button"
                            class="button-standart btn-red"
                            onclick="location.href='@Url.Action("Delete", "Users", new { id = item.ID })'">
                        Видалити
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>