@model EduCloud_v42.Models.User

@{
    

}

<h1>Ваш профіль</h1>

<div>
    <h4>@Model.Username</h4>
    <hr>
    <dl class="row">
        <dt class="column-name">
            @Html.DisplayNameFor(model => model.Username)/Юзернейм
        </dt>
        <dd class="column-value">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="column-name">
            @Html.DisplayNameFor(model => model.FullName)/Повне ім'я
        </dt>
        <dd class="column-value">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="column-name">
            @Html.DisplayNameFor(model => model.Email)/Електронна пошта
        </dt>
        <dd class="column-value">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="column-name">
            @Html.DisplayNameFor(model => model.Phone)/Телефон
        </dt>
        <dd class="column-value">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<button type="button"
        class="button-standart"
        onclick="location.href='@Url.Action("Index", "Courses")'">
        Переглянути курси
</button>
<h3>Ваші курси:</h3>
<ul>
    @foreach (var course in (List<Course>)ViewBag.SubscribedCourses)
    {
        <li> @course.Name |<a asp-controller="Courses" asp-action="Details" asp-route-id="@course.ID">Детальніше</a></li>
    }
</ul>