@model EduCloud_v42.Models.CourseElement

@{
    ViewData["Title"] = "Element Details";
    EduCloud_v42.Models.User? user = (EduCloud_v42.Models.User?)ViewBag.User;
    IEnumerable<TaskFile> taskFiles = ViewBag.taskFiles;
    IEnumerable<UserTask> userTasks = ViewBag.userTasks;
}

<h1>Element Details</h1>

<div>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
</div>
<div>
    <h2>Файли завдання</h2>
    <ul>
        @foreach(CourseFile file in Model.CourseFiles)
        {
            <li>
                <a href="@file.Path" download="@file.Name">@file.Name</a>
            </li>
            
        }
    </ul>
    
</div>
@if (user != null && 
     user.UserCourses.Any(uc => uc.CourseId == Model.CourseId && uc.Role == CourseRole.Student))
    {
        if(!user.UserTasks.Any(ut => ut.TaskId == Model.ID))
        {
            <div>
                <form asp-controller="CourseElements" asp-action="Submit" method="post" enctype="multipart/form-data">
                    <input class="button-standart" name="files" type="file" multiple/>
                    <input name="elementID" type="hidden" value="@Model.ID"/>
                    <input class="button-standart" type="submit" value="Здати"/>
                </form>
            </div>
        }
        else
        {
            <div>
                <h3>Здані файли</h3>
                <ul>
                    @foreach(var file in taskFiles)
                    {
                        <li>
                            <a href="@file.Path" download="@file.Name">@file.Name</a>
                        </li>
                        
                    }
                </ul>
                
                <form asp-controller="CourseElements" asp-action="Unsubmit" method="post">
                    <input name="elementID" type="hidden" value="@Model.ID"/>
                    <input class="button-standart" type="submit" value="Скасувати"/>
                </form>
            </div>
        }
    }
    else if(user != null && 
     user.UserCourses.Any(uc => uc.CourseId == Model.CourseId && uc.Role == CourseRole.Teacher))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ім'я
                    </th>
                    <th>
                        Файли
                    </th>
                    <th>
                        Оцінка
                    </th>
                </tr>
            </thead>

            @foreach(UserTask task in userTasks)
            {
                <tr>
                    <td>@task.User.FullName</td>
                    <td>
                        <ul>
                            @foreach(TaskFile file in task.TaskFiles)
                            {
                                <li>
                                    <a href="@file.Path" download="@file.Name">@file.Name</a>
                                </li>
                                
                            }
                        </ul>
                        
                    </td>
                    
                    <td>
                        <form asp-controller="CourseElements" asp-action="Mark">
                            <input name="elementID" type="hidden" value="@Model.ID"/>
                            <input name="userID" type="hidden" value="@task.UserId"/>
                            <input name="mark" value="@task.Mark" placeholder="Mark"/>
                            <input class="button-standart" type="submit" value="Повернути"/>
                        </form>
                    </td>

                </tr>
            }
        </table>

    }
<div>
    @if (user != null && user.UserCourses.Any(uc => uc.CourseId == Model.CourseId && uc.Role == CourseRole.Teacher))
    {
        <a class="button-standart" asp-action="Edit" asp-route-id="@Model.ID">Змінити</a>
    }
    <a class="button-standart" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Повернетуся до курсів</a>
</div>