@model EduCloud_v42.Models.CourseElement

@{
    ViewData["Title"] = "Edit Element";
}

<h1>Редагування Завдання</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="CourseId" />

            <div class="form-input">
                <label asp-for="Name" class="control-label">Назва</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Description" class="control-label">Опис</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Type" class="control-label">Тип</label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<CourseElementType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-input mt-3">
                <input type="submit" value="Зберегти" class="button-standart" />
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Назва
                    </th>
                    <th>
                        Оновити
                    </th>
                    <th>
                        Видалити
                    </th>
                </tr>
            </thead>
            @foreach(var file in Model.CourseFiles)
            {
                <tr>
                    <td>@file.Name</td>
                    <td>
                         <form asp-controller="CourseElements" asp-action="EditFile" method="post" enctype="multipart/form-data">
                            <input name="courseFileID" type="hidden" value="@file.ID"/>
                            <input name="elementID" type="hidden" value="@Model.ID"/>
                            <input name="file" type="file"/>
                            <input class="button-standart" type="submit" value="Оновити"/>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="CourseElements" asp-action="RemoveFile" method="post">
                            <input name="courseFileID" type="hidden" value="@file.ID"/>
                            <input name="elementID" type="hidden" value="@Model.ID"/>
                            <input class="button-standart" type="submit" value="Видалити"/>
                        </form>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>

<div>
    <a class="button-standart" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Повернутися до курсу</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}