@model EduCloud_v42.Models.Course
@using System.Security.Claims
@{
    ViewData["Title"] = "Details Course";
    var userId = User.FindFirst("id")?.Value;
    EduCloud_v42.Models.User? user = (EduCloud_v42.Models.User?)ViewBag.User;
}

<h1>Курс</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>

    @if (user != null && user.UserCourses.Any(uc => uc.CourseId == Model.ID && uc.Role == CourseRole.Teacher))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Змінити</a> 
        <a asp-action="Delete" asp-route-id="@Model.ID">Видалити</a>
        <a asp-controller="CourseElements" asp-action="Create" asp-route-id="@Model.ID">Додати завдання</a>
    }

	<a asp-action="Index">Повернутися до курсів</a>|
    @if (user != null && !user.UserCourses.Any(uc => uc.CourseId == Model.ID && uc.Role == CourseRole.Teacher))
    {
        <a asp-controller="Account" asp-action="Subscribe" asp-route-CourseId="@Model.ID" asp-route-UserId="@userId">Підписатись на курс</a>
    }
</div>
<h3>Завдання:</h3>
<ul>
    @foreach (var el in Model.CourseElements)
    {
        <li>
            @el.Name (@el.Type)|<a asp-controller="CourseElements" asp-action="Details" asp-route-id="@el.ID">Детальніше</a>|
             @if (user != null && user.UserCourses.Any(uc => uc.CourseId == Model.ID && uc.Role == CourseRole.Teacher))
            {
                <a asp-controller="CourseElements" asp-action="Edit" asp-route-id="@el.ID">Змінити</a>
                <a asp-controller="CourseElements" asp-action="Delete" asp-route-id="@el.ID">Видалити</a>
            }
            
        </li>
    }
</ul>