@model EduCloud_v42.Models.Course
@using System.Security.Claims
@{
    ViewData["Title"] = "Details Course";
    var userId = User.FindFirst("id")?.Value;
    EduCloud_v42.Models.User? user = (EduCloud_v42.Models.User?)ViewBag.User;
}

<h1>@Model.Name</h1>


<div>
    <p>
        @Model.Description
    </p>
</div>
<div>

    @if (user != null && user.UserCourses.Any(uc => uc.CourseId == Model.ID && uc.Role == CourseRole.Teacher))
    {
        <a class="button-standart" asp-action="Edit" asp-route-id="@Model.ID">Змінити</a> 
        <a class="button-standart" asp-action="Delete" asp-route-id="@Model.ID">Видалити</a>
        <a class="button-standart" asp-controller="CourseElements" asp-action="Create" asp-route-id="@Model.ID">Додати завдання</a>
    }

	<a class="button-standart" asp-action="Index">Повернутися до курсів</a>|
    @if (user != null && !user.UserCourses.Any(uc => uc.CourseId == Model.ID && uc.Role == CourseRole.Teacher))
    {
        <a class="button-standart" asp-controller="Account" asp-action="Subscribe" asp-route-CourseId="@Model.ID" asp-route-UserId="@userId">Підписатись на курс</a>
    }
</div>
<h3>Завдання:</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Тип
            </th>
            <th>

            </th>
        </tr>
    </thead>
    @foreach (var el in Model.CourseElements)
    {
        <tr>
            <td>
                @el.Name
            </td>
            @if(el.Type == CourseElementType.Task)
            {
                <td>
                    Завдання
                </td>
            }
            else if(el.Type == CourseElementType.Lecture)
            {
                <td>
                    Лекція
                </td>
            }
            else
            {
                <td> 
                    Помилка
                </td>
            }
            <td> 
                <a class="button-standart" asp-controller="CourseElements" asp-action="Details" asp-route-id="@el.ID">Детальніше</a>
                @if (user != null && user.UserCourses.Any(uc => uc.CourseId == Model.ID && uc.Role == CourseRole.Teacher))
                {
                    <a class="button-standart" asp-controller="CourseElements" asp-action="Edit" asp-route-id="@el.ID">Змінити</a>
                    <a class="button-standart" asp-controller="CourseElements" asp-action="Delete" asp-route-id="@el.ID">Видалити</a>
                }
            </td>
        </tr>
    }
</table>