@model IEnumerable<EduCloud_v42.Models.Course>

@{
    ViewData["Title"] = "List Course";
    EduCloud_v42.Models.User? user = (EduCloud_v42.Models.User?)ViewBag.User;
}

<h1>Курси:</h1>

<button type="button" class="button-standart" onclick="location.href='@Url.Action("Create", "Courses")'">
    Створити курс
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)/Назва
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)/Опис
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if(user != null && user.UserCourses.Any(uc => uc.CourseId == item.ID && uc.Role == CourseRole.Teacher))
                    {
                        <button type="button"
                                class="button-standart btn-red"
                                onclick="location.href='@Url.Action("Delete", "Courses", new { id = item.ID })'">
                            Видалити
                        </button>
                        <button type="button"
                                class="button-standart"
                                onclick="location.href='@Url.Action("Edit", "Courses", new { id = item.ID })'">
                            Змінити
                        </button>
                        <button type="button"
                                class="button-standart"
                                onclick="location.href='@Url.Action("Create", "CourseElements", new { id = item.ID })'">
                            Додати завдання
                        </button>
                    }
                    <button type="button"
                            class="button-standart"
                            onclick="location.href='@Url.Action("Details", "Courses", new { id = item.ID })'">
                        Детальніше
                    </button>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
